{% extends "admin/base_site.html" %}
{% block content %}
    <h2>데이터 시각화</h2>



  <iframe src="http://localhost:5601/app/kibana#/dashboard/b7bb5c20-6764-11e8-a412-33cf7f554347?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2Fy,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:f9384720-675b-11e8-9725-2920d153676d,panelIndex:1,row:1,size_x:6,size_y:5,type:visualization),(col:7,id:'4776b580-6765-11e8-a412-33cf7f554347',panelIndex:2,row:1,size_x:5,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'New+Dashboard',uiState:())" height="550" width="1280" frameborder = 0></iframe>
{% endblock %}
